body{
    margin:0;
    font-family: Tahoma;
    background-color: #ebf1f5;
}

#header img{
    padding: 0px;
    border: 0px;

}

#header .codePic{
    float:right;
    overflow: hidden;
    width:500px;
}

#header .logo{
    position: relative;
    left:2%;
}

#header{
    background-color: #151414;
    margin:0px;
    border: 0px;
    padding:0px;
    min-width: 1000px;

}

/*nav bar*/
nav{
    text-align: center;
/*    background-color: #0c85c2;
*/}

nav a{
    text-decoration:none;
    color: #333333;
}


nav > ul{
    margin:auto;
    padding:0px;
    position: relative;
    width:755px;
    border-radius: 5px;
    border: 3px solid #333333;

}

nav li{
    display:inline-grid;
    padding:0px;
    margin:auto;
    width:150px;

    background-color: #17ccf5;
    font-size: 25px;
    border-left: 1px solid #333333;

/*17ccf5*/
}

nav li:hover{
    background-color: #10a1c2;
}
.dropDown{
    display: none;
    border-style: none;
    z-index: 1;
}

.dropDown > ul{
    position:fixed;

}
.dropDown li{
    display:block;
    padding:10px;
    padding-top:5px;
    width:100%;
    right:10px;
    position: relative;
    margin:auto;
    border-style: none;
    font-size: 20px;
}
/*display the dropDown when we hover over the selector*/
.selector:hover > .dropDown{
    display: block;
    margin:0px;

}


/*Content/main body*/

#content{
    position:relative;
    margin:auto;
    width:800px;
    padding:20px;
    font-family: Tahoma;
}

#content h1{
    padding: 0px;
    margin: 0px;
    font-family: Tahoma;
}

#footer{
    color:#999999;
    font-size: 14px;
}
#footer .signature{
    padding: 30px;
}
/*footer*/
#footer li{
    display: inline-grid;
    float:right;
    padding-left:40px;
    padding-right: 40px;
    left: 50px;

}
#footer ul{
    display: inline;
    overflow-x: scroll;
}
#footer a{
    text-decoration:none;
    color:#999999;
}
